<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_key</key>
	<string>8Bfy7EFRFgIKeFTfvOYbPP3gn</string>
	<key>consumer_secret</key>
	<string>EPxK2z4SCTvXEFsW615HPtGjj9r1sftQd5s3Klv5O44cjpouVM</string>
</dict>
</plist>
